
@{
    ViewBag.Title = "Computadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Computadores</h3>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("AddComputador","Assets")"><i class="fa fa-plus"></i>Novo Computador</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Marca</th>
            <th scope="col">Prioridade</th>
            <th scope="col">Severidade</th>
            <th scope="col">Sistema</th>
            <th scope="col">Usuário</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count != 0)
        {
            foreach (var chamado in Model)
            {
                <tr>
                    <td><a href="@Url.Action("EditarChamado","Assistencia", new { id = chamado.Id })">@Html.DisplayFor(modelItem => chamado.Id)</a></td>
                    <td>@Html.DisplayFor(modelItem => chamado.Titulo)</td>
                    <td>@Html.DisplayFor(modelItem => chamado.Descricao)</td>
                    <td>@Html.DisplayFor(modelItem => chamado.Prioridade.Descricao)</td>
                    <td>@Html.DisplayFor(modelItem => chamado.Severidade.Descricao)</td>
                    <td>@Html.DisplayFor(modelItem => chamado.Sistema.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => chamado.Funcionario.Nome)</td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="8">Não possui informação.</td></tr>
        }

    </tbody>
</table>
